// constants
rowHeight             = 70px
  fieldHeight         = 50px
    fieldLabelHeight  = 20px
    fontLabelHeight	  = 13px

//colors
fieldBorderColor = #DBDBDB
fieldLabelColor = #5A5A5A
rbYellowColor = #FCFF00

// breakpoints TODO repair
bp = 705px //breakpoint
labelFamilyFont = "Monospace"
