// constants
rowHeight             = 70px
  fieldHeight         = 50px
    fieldLabelHeight  = 20px
    fontLabelHeight	  = 13px

//colors
fieldBorderColor = #DBDBDB
fieldLabelColor = #5A5A5A
rbYellowColor = #FCFF00
rbBlueColor = #2F89E5
errorColor = #ff594d

// breakpoints TODO rupture
bp = 705px //breakpoint

