.i-text
  span(1, 1/100)
  cf()
  .i-text-label
    column(1)
    font-size fieldLabelHeight
    line-height fieldLabelHeight
    padding 0
    margin 0
    color #868582
    &.inline
      span(1/5)
      margin-top fieldLabelHeight*1.5
      text-align center
  .i-text-output
    column(1)
    box-shadow 0 0 2px 0 silver
    box-sizing border-box
    padding-left 5px
    height fieldHeight
    line-height fieldHeight
    &.nolabel
      margin-top fieldLabelHeight
    &.inline
      span(4/5)
      margin-top fieldLabelHeight
