<div class="i-select-list" ng-show="vm.listToggle">

  <!-- isArray-->
  <div class="is-array" ng-if="isArray">
    <div  ng-if="vm.template"  ng-include="vm.template" class="i-select-item" ng-repeat="item in data | filter: vm.searchQuery track by $index" ng-click="vm.select($index)"></div>
    <div  ng-if="!vm.template" class="i-select-item" ng-repeat="item in data | filter: vm.searchQuery track by $index" ng-click="vm.select($index)" ng-bind="item[viewAs]"></div>
  </div>

  <!-- isObject-->
  <div class="is-object" ng-if="isObject">
    <div ng-if="vm.template">
      <div ng-include="vm.template" class="i-select-item" ng-repeat="(key, item) in data" ng-click="vm.select(key)"></div>
    </div>
    <div ng-if="!vm.template">
      <div class="i-select-item" ng-repeat="(key, item) in data" ng-click="vm.select(key)">{{item[viewAs]}}</div>
    </div>
  </div>

</div>
