<div class="i-select" style="width:{{ (size || 100)-1 }}%" ng-if="!native">

  <div class="i-select-search">
    <input type="text" ng-model="searchQuery" ng-change="listToggle = true" placeholder="{{placeholder}}"/>
  </div>

  <div class="i-select-toggle" ng-click="listToggle=!listToggle; searchQuery = '' " >
    <div class="i-select-toggle-icon">...</div>
  </div>

  <div class="i-select-list" ng-show="listToggle">
    <div  ng-if="template"  ng-include="template" class="i-select-item" ng-repeat="item in data | filter: searchQuery track by $index" ng-click="select($index)"></div>
    <div  ng-if="!template" class="i-select-item" ng-repeat="item in data | filter: searchQuery track by $index" ng-click="select($index)" ng-bind="item[viewAs]"></div>
  </div>

</div>

<select ng-if="native" style="width:{{ (size || 100)-1 }}%" class="i-select" ng-model="model">
  <option value="option.value" ng-repeat="option in data" ng-bind="option.text"></option>
</select>
