//.i-select-native
//  span(1)
//  cf()
//  margin-top fieldLabelHeight
//  height fieldHeight
//  box-sizing border-box
//  border 2px solid fieldBorderColor

.i-select
  span(1)
  cf()
  margin-top fieldLabelHeight
  height fieldHeight
  box-sizing border-box
  .i-select-search
    span(1)
    cf()
    input
      span(1)
      box-sizing border-box
      border 3px solid fieldBorderColor
      height fieldHeight
      line-height fieldHeight
      margin 0
      padding 0
      padding-left 5px
      padding-right fieldHeight

  .i-select-toggle
    float right
    box-sizing border-box
    width fieldHeight
    height fieldHeight
    line-height fieldHeight
    text-align center
    border 3px solid fieldBorderColor
    border-left 3px solid fieldBorderColor
    cursor pointer
    margin 0
    padding 0
    margin-top fieldHeight * -1
    &:hover
      color black
      background-color rbYellowColor
      border 3px solid rbYellowColor
      transition .3s
    &:active
      background-color rbYellowColor
  .i-select-list
    span(1)
    outline 5px solid green
    position absolute
    margin-top fieldHeight
    border 1px solid fieldBorderColor
    background-color white
    .i-select-item   
      line-height fieldHeight
      padding-left 5px
      background-color white
      margin-bottom 2px
      &:hover
        background-color #cccccc
        cursor pointer

