<div  class="i-select" style="width:{{size || 100}}%" ng-if="!native">
  <div ng-hide="searchable" class="current-value" ng-click="iSelect.listToggle=!iSelect.listToggle"><span>{{iSelect.selected[viewAs]}}</span></div>
  <div ng-show="searchable" class="i-select-search">
    <input type="text" ng-model="iSelect.searchQuery" ng-change="iSelect.listToggle = true" placeholder="{{placeholder}}"/>
  </div>

    <div class="i-select-toggle" ng-click="iSelect.listToggle=!iSelect.listToggle">
        <div class="ion-arrow-down-b i-select-toggle-icon"></div>
    </div>

    <div class="i-select-list" ng-show="iSelect.listToggle">
      <div  ng-if="template"  ng-include="template" class="i-select-item" ng-repeat="item in data | filter: iSelect.searchQuery track by $index" ng-click="iSelect.select($index)"></div>
      <div  ng-if="!template" class="i-select-item" ng-repeat="item in data | filter: iSelect.searchQuery track by $index" ng-click="iSelect.select($index)" ng-bind="item[viewAs]">test</div>
    </div>
</div>
