.i-select
  span(1, 1/100)
  cf()
  margin-top fieldLabelHeight
  height fieldHeight
  box-sizing border-box
  .i-select-search
    span(5/6)
    cf()
    input
      span(1)
      box-sizing border-box
      line-height fieldHeight
      border none
      outline 1px solid silver
      margin 0
      padding 0
  .i-select-toggle
    span(1/6)
    cf()
    line-height fieldHeight
    text-align center
    outline 1px solid silver
    cursor pointer
    margin 0
    padding 0
    &:hover
      color #cccccc
    &:active
      background-color white
  .i-select-list
    span(5/6)
    cf()
    outline 1px solid silver
    background-color white
    .i-select-item
      span(1)
      background-color white
      margin-bottom 2px
      z-index 200
      &:hover
        background-color #cccccc
        cursor pointer
