.i-select
  span(1)
  cf()
  position: relative
  height auto
  box-sizing border-box
  &.nolabel
    margin-top fieldLabelHeight
  &.inline
    span(4 / 5)
    margin-top fieldLabelHeight
  .i-field-label
    span(1)
    box-sizing border-box
    height fieldLabelHeight
    line-height fontLabelHeight
    font-size fontLabelHeight
    font-weight bold
    padding 0
    margin 0
    color fieldLabelColor
  .read-only
    line-height fieldHeight
    padding 0 20px
  .current-value
    span(1)
    cf()
    height: fieldHeight
    outline 1px solid silver
    line-height fieldHeight
    span
      padding-left 20px
  .i-select-search
    span(1)
    cf()
    input
      span(1)
      box-sizing border-box
      height fieldHeight
      line-height fieldHeight
      margin 0
      padding 0
      padding-left 5px
      padding-right fieldHeight
    .reset-button
      position: absolute
      right fieldHeight
      top fieldHeight / 2
      width fieldHeight
      font-size 2em
      line-height fieldHeight
      &:hover
        cursor pointer
  .i-select-toggle
    float right
    box-sizing border-box
    width fieldHeight
    height fieldHeight
    line-height fieldHeight
    text-align center
    border-left 3px solid fieldBorderColor
    cursor pointer
    margin 0
    padding 0
    margin-top fieldHeight * -1
    background-color white
    &:hover
      color black
      background-color rbYellowColor
      transition .3s
    &:active
      background-color rbYellowColor
  .i-select-list
    position: absolute
    background-color white
    z-index 99999
    min-height 0
    max-height 200px
    box-shadow 0 0 10px -3px silver
    overflow-x hidden
    overflow-y auto
    &.nolabel
      margin-top 0
    .is-array, .is-object
      position relative
      min-height 0
      .i-select-item
        white-space nowrap
        line-height fieldHeight
        padding-left 5px
        background-color white
        margin-bottom 2px
        &:hover
          background-color #cccccc
          cursor pointer

