.i-row
  column(1)
  cf()
  min-height: rowHeight
  margin 10px 0
  padding 0
  box-sizing border-box
  .i-row-label
    column(1/5)
    text-align center
    display inline
    .required-mark:after
      content "*"
      color red
  .i-row-content
    column(1)
    cf()
    &.labeled
      column(4/5)
