.i-row
  column(1)
  cf()
  min-height: rowHeight
  margin 0
  padding 0
  box-sizing border-box
  .i-row-label
    column(1/5)
    line-height rowHeight+fieldLabelHeight
    text-align center
  .i-row-content
    column(1)
    cf()
    &.labeled
      column(4/5)
