.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}


.centered-label
  position: relative
  line-height 4.5em
  text-align center
  box-sizing border-box
  font-weight 700
  font-size 1.1em

