.i-switch
  span(1)
  cf()
  height rowHeight
  .i-switch-option
    span(1)
    relative top left
    box-sizing border-box
    float left
    height fieldHeight
    margin-top fieldLabelHeight
    box-shadow 0 0 2px 0 silver
    text-align center
    line-height fieldHeight
    border 3px solid fieldBorderColor
    margin-right -1px
    &:hover
      background-color rbYellowColor
      border 3px solid rbYellowColor
      cursor pointer
      transition .3s
    &.inactive
      background-color lightgray
    &:active
      background-color rbYellowColor
      color: #000
      border 3px solid darken(rbYellowColor, 10)
    &.active
      background-color rbYellowColor
      color: #000
      border 3px solid lighten(rbYellowColor, 10)
