/*edit()*/
.i-field
  span(1)
  cf()
  .i-field-label
    column(1)
    box-sizing border-box
    height fieldLabelHeight
    line-height fontLabelHeight
    font-size fontLabelHeight
    font-weight bold   
    padding 0
    margin 0
    color fieldLabelColor
    &.inline
      span(1/5)
      margin-top fieldLabelHeight*1.5
      text-align center
  .i-field-input
    column(8/9)
    box-sizing border-box
    border 2px solid fieldBorderColor
    padding-left 5px
    height fieldHeight
    line-height fieldHeight
    &.nolabel
      margin-top fieldLabelHeight
    &.inline
      span(4/5)
      margin-top fieldLabelHeight
