.i-field
  span(1, 1/100)
  cf()
  .i-field-label
    column(1)
    font-size fieldLabelHeight
    line-height fieldLabelHeight
    padding 0
    margin 0
    &.inline
      span(1/5)
      margin-top fieldLabelHeight*1.5
      text-align center
  .i-field-input
    column(1)
    box-sizing border-box
    height fieldHeight
    line-height fieldHeight
    &.nolabel
      margin-top fieldLabelHeight
    &.inline
      span(4/5)
      margin-top fieldLabelHeight
