<div style="width:{{size-1}}%" class="i-field" ng-class="{required: required, error: checkErrors()}">
  <label ng-if="label" class="i-field-label" for="{{name || id}}" ng-bind="label"></label>
  <input  class="i-field-input"
          ng-class="{nolabel: !label}"
          id="{{name || id}}"
          type="{{type || 'text'}}"
          ng-model="model"
          name="{{name || id}}"
          ng-disabled="disabled"
          placeholder="{{placeholder}}"
          i-valid = "{{validation}}"/>
  <div class="fieldErrorMessages">
    <div ng-repeat="(key,error) in errors track by $index">{{ overrideMessage || getErrorMessage(key) }}</div>
  </div>
</div>
