.i-field
  span(1)
  cf()
  .i-field-label
    span(1)
    box-sizing border-box
    height fieldLabelHeight
    line-height fontLabelHeight
    font-size fontLabelHeight
    font-weight bold
    padding 0
    margin 0
    color fieldLabelColor
    &.inline
      span(1/5)
      line-height fieldLabelHeight+rowHeight
      text-align center
  .i-field-input
    span(1)
    box-sizing border-box
    border 3px solid fieldBorderColor
    padding-left 5px
    height fieldHeight
    line-height fieldHeight
    &.nolabel
      margin-top fieldLabelHeight
    &.inline
      span(4/5)
      margin-top fieldLabelHeight
  .fieldErrorMessage
    transition all ease .4s
    &.ng-enter
      opacity 0
    &.ng-enter.ng-enter-active
      opacity 1
    &.ng-leave
      opacity 1
    &.ng-leave.ng-leave-active
      opacity 0

.ng-submitted
  .i-field-input.ng-invalid,
  .i-field-input.ng-invalid-required,
  .i-field-input.ng-invalid-pattern
    border-color errorColor
